@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  }
}


body {
  margin: 0;
  padding: 0;
  background: #000000;
  @apply text-gray-200;
}

.animate-shimmer {
  @apply relative overflow-hidden before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_1.5s_infinite] before:bg-gradient-to-r before:from-transparent before:via-[#252525] before:to-transparent;
}

.bg-darken-vertical {
  background: linear-gradient(0deg, rgba(0,0,0,0.85) 15%, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0.65) 35%, rgba(0,0,0,0.1) 60%);
}

.bg-darken-horizontal {
  background: linear-gradient(90deg, rgba(0,0,0,0.85) 15%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.65) 40%, rgba(0,0,0,0.45) 60%, rgba(0,0,0,0.05) 80%);
}

.input-text-wrapper {
  @apply relative flex items-center gap-2 my-4 ;
}

.input-text {
  @apply w-full h-14 rounded-2xl px-4 py-2 text-sm bg-primary text-gray-200 focus:outline-0 ;
}

.input-text::placeholder {
  @apply text-gray-400;
}

.input-text-wrapper .input-icon {
  @apply absolute right-4 flex items-center justify-center h-full pointer-events-none;
}

